* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  max-width: 500px;
  border: 1px solid lightcoral;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


